body {
    background-color: rgb(30, 75, 38);
}

header {
    text-align: center;
    font-size: x-large;
    background-color: rgb(35, 176, 49);
}

img {
    margin-left: 100px;
    display: block;
    z-index: -2;
}

.container {
    position: relative;
    width: 500px;
    height: 500px;
}

.containerForImg {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.iAm {
    position: absolute;
    box-sizing: border-box;
    top: 250px;
    left: 320px;
    width: 170px;
    height: 70px;
    font-size: 40px;
}

.interested {
    position: absolute;
    box-sizing: border-box;
    top: 800px;
    left: 920px;
    width: 170px;
    height: 70px;
    font-size: 40px;
}